{% extends "base.html" %}

{% block content %}

<div class="container mt-5" style="max-width:500px;">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="text-center">
                Set New Password
            </h2>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success w-100">
                    Change Password
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}